* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Poppins", "sans-serif";
}


body {
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.welcometitle{

    color: white;
    text-align: center;
    font-family: Lucida Console;

}

.welcomeuser {
    color: aliceblue;
}
.wrapper {

    width: 420px;
    background-color: rgb(8, 8, 8);
    color: blueviolet;
    border-radius: 30px;
    padding: 30px;
    border: solid rgb(59, 5, 95);
}

.wrapper h1 {
    font: size 36px;
    text-align: center;
}

.wrapper .input-box {
position: relative;
text-align: center;
width: 100%;
height: 50px;


}
.input-box input {

    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    outline: None;
    border: 2px solid rgb(49, 7, 73);    
    padding: 20px ;
}

.input-box input::placeholder {

    color: rgb(155, 155, 155);
}

.input-box i {
    position: absolute;
    right: 10px ;
    top:  50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .button {


    width: 100%;
    height: 30px;
    color: blueviolet;
    background: rgb(17, 17, 17);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.controlpanel{

    background-color: rgb(20, 20, 20);

    padding: 30px;
    border-radius: 20%;
        border: 2px solid rgb(49, 7, 73);  
}